
*{
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 5px;
    background-color: black;
    color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   position: sticky;
   top: 0px;
}
.navlist{
    display: flex;
    list-style-type: none;
    gap: 25px;
}
.brand img{
    height: 50px;
    width: 50px;
}
.brandname{
    font-size: 30px;
}
.list{
    padding: 8px;
    font-size: 20px;
}
.container{
    max-width: 90%;
    margin: auto;
    height: 800px;
    background: url(bg.jpg);
    border: 3px solid black;
    margin-top: 15px;
}
.heading{
    font-size: 30px;
    padding: 15px;
    color: white;
}
.songlist{
    display: flex;
    flex-direction: column;
}
.song{
    height: 40px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    margin-left: 15px;
}
#song1{
    margin-top: 40px;
}
.bottom{
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
   margin-bottom: 4px;
   flex-direction: column;
}
#myprogressbar{
    width: 80%;
}
.icon{
    margin-top: 13px;
}
.song{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.song img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-left: 10px;
    
}
.song .text{
    font-size: 25px;
    font-family: cursive;
}
.song i{
    margin-right: 10px;
    margin-left: 6px;
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 160px;
    
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

